.admin-email-content{
    width: 100%;
    /* change width to 1200px if there are problems */
    margin-left: 30px;
    font-family: 'DM Sans';
}

.admin-email-view-container{
    margin-top: 50px;
    max-height: 500px;
    overflow: auto;    
    
}

.single-email {
    /* border: 1px solid red; */
    
    margin-bottom: 2%;
    
    max-width: 878px;
    min-width: 878px;

    background-color: #FFF8F0;
    cursor: pointer;

    overflow: auto;
}

.single-email p {
    margin-left: 10px;
}