.admin-email-content{
    width: 100%;
    /* change width to 1200px if there are problems */
    margin-left: 30px;
    font-family: 'DM Sans';

    display: flex;
    flex-direction: column;
}

.admin-email-view-container{
    margin-top: 50px;
    max-height: 500px;
    overflow: auto;    
    
}

.admin-email-view-container div:hover{
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 10px rgba(0, 0, 0, 0.25);
}


.admin-email-response-container{
    
    height: 300px;
    margin-top: 10px;
    max-width: 878px;

    background-color: #FFF8F0;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.email-response-area {
    border: 1px solid #827F7C;
    height: 180px;
    max-width: 835px;
    
    margin-left: 20px;
/* 
    margin-top: 40px;
    margin-left: 35px; */

    background-color: white;
}

.admin-email-reply-button {
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 5px;

    font-family: 'DM Sans';

    background-color: #392F5A;
    color: white;

    align-self: flex-end;

    margin-top: 20px;
    margin-right: 20px;

    cursor: pointer;
}

.single-email {
    /* border: 1px solid red; */
    
    margin-bottom: 2%;
    
    max-width: 878px;
    min-width: 878px;

    background-color: #FFF8F0;
    cursor: pointer;

    overflow: auto;
}


.single-email p {
    margin-left: 10px;
    color: #392F5A;
}

.single-email h3 {
    margin-left: 10px;
    color: #392F5A;
    font-weight: 400;
}