.admin-email-content{
    width: 100%;
    /* change width to 1200px if there are problems */
    margin-left: 30px;
}

.admin-email-view-container{
    margin-top: 50px;
}

.single-email {
    /* border: 1px solid red; */
    border-radius: 8px;
    margin-bottom: 2%;
    width: 90%;
    background-color: #f5f5f5;
    cursor: pointer;
}

.single-email p {
    margin-left: 10px;
}