.email-content{
    width: 1200px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}


.email-form-user{
    display: flex;
    flex-direction: column;
    align-items: left;
}

.email-form-user input[type=text]{
    background-color: #FFF8F0;
    border: 1px solid #827F7C;
    min-height: 48px;
    max-width: 838px;
    font-size: large;
    border-radius: 3px;
}
.email-form-user input[type=email]{
    background-color: #FFF8F0;
    border: 1px solid #827F7C;
    min-height: 48px;
    max-width: 838px;
    font-size: large;
    border-radius: 3px;
}

.email-form-user input[type=file]{
    margin-top: 5px;
}

.email-form-user textarea{
    background-color: #FFF8F0;
    border: 1px solid #827F7C;
    min-height: 190px;
    max-height: 190px;
    max-width: 838px;
    min-width: 838px;
    font-size: large;
    font-family: 'DM Sans';

    border-radius: 3px;
}

.email-submit-button {
    width: 120px;
    height: 40px;
    margin-left: 722px;

    border-radius: 5px;
    padding: 12px, 20px;
    cursor: pointer;
    background-color: #FFF8F0;

    font-family: 'DM Sans';
}