.email-container {
    display: flex;
    flex-direction: row;
}

.email-view-container{
    /* border: 2px solid black; */
    border-radius: 5px;
    width: 800px;
    height: 600px;
    margin-left: 20%;
    margin-top: 2%;
}
.single-email {
    /* border: 1px solid red; */
    border-radius: 8px;
    margin-bottom: 2%;
    width: 90%;
    background-color: rgb(236, 229, 219);
}
.single-email p {
    margin-left: 10px;
    
}

.email-form-container {
    width: 400px;
    margin-left: 5%;
    margin-top: 5%;
}

.email-form{
    display: flex;
    flex-direction: column;
    align-items: left;    
}

.email-form input[type=text], input[type=email] {
    margin-bottom: 10px;
    width: 250px;
    /* border: 1px solid black;
    border-radius: 5px; */
    background-color: rgb(236, 229, 219);
    color: black;
    outline: none;
}
.email-form input[type=file] {
    margin-bottom: 10px;
    
}

.email-form textarea {
    max-width: 390px;
    min-width: 390px;
    min-height: 120px;
    max-height: 120px;
    height: 200px;
    margin-bottom: 8px;
    
    border-radius: 5px;
    background-color: rgb(236, 229, 219);
    outline: none;
    
}

.email-submit-button {
    width: 20%;
    padding: 10px;
    align-self: flex-end;
    border-radius: 5px;
    background-color:bisque
    
}