
.sidebar {
    display: flex;
    flex-direction: column;
    min-width: 230px;
    background-color: #F4D06F;    
    font-family: 'DM Sans';
    
}

.sidebar div {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

a {
    color: black;
    text-decoration: none;
    margin: 10px;
    margin-left: 15px;
    font-size: 20px;
}

.sidebar button {
    background-color: transparent;
    border-radius: 20px;
    border:none;
    cursor: pointer;
    margin-left: 10px;    
}

